<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for post in site.posts %}
  {% if post.sitemap !== false %}
  <url>
    <loc>{{ getURL(post.docPath) }}</loc>
    <lastmod>{% if post.updatedDate %}{{ post.updatedDate.toISOString() }}{% else %}{{ post.createdDate.toISOString() }}{% endif %}</lastmod>
  </url>
  {% endif %}
  {% endfor %}
  {% for page in site.pages %}
  {% if page.sitemap !== false %}
  <url>
    <loc>{{ getURL(page.docPath) }}</loc>
    <lastmod>{% if page.updatedDate %}{{ page.updatedDate.toISOString() }}{% else %}{{ page.createdDate.toISOString() }}{% endif %}</lastmod>
  </url>
  {% endif %}
  {% endfor %}
  {% for file in site.files %}
  {% if file.sitemap !== false %}
  <url>
    <loc>{{ getURL(file.docPath) }}</loc>
    <lastmod>{% if file.updatedDate %}{{ file.updatedDate.toISOString() }}{% else %}{{ file.createdDate.toISOString() }}{% endif %}</lastmod>
  </url>
  {% endif %}
  {% endfor %}
</urlset>
