<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- if site.posts and site.posts.length > 0 %}
  {%- for post in site.posts %}
  {%- if post.sitemap !== false %}
  <url>
    <loc>{{ getURL(post.docPath) }}</loc>
    {%- if post.updated %}
    <lastmod>{{ post.updated.toISOString() }}</lastmod>
    {%- elseif post.created %}
    <lastmod>{{ post.created.toISOString() }}</lastmod>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
  {%- endif %}
  {%- if site.pages and site.pages.length > 0 %}
  {%- for page in site.pages %}
  {%- if page.sitemap !== false %}
  <url>
    <loc>{{ getURL(page.docPath) }}</loc>
    {%- if page.updated %}
    <lastmod>{{ page.updated.toISOString() }}</lastmod>
    {%- elseif page.created %}
    <lastmod>{{ page.created.toISOString() }}</lastmod>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
  {%- endif %}
  {%- if site.files and site.files.length > 0 %}
  {%- for file in site.files %}
  {%- if file.sitemap !== false %}
  <url>
    <loc>{{ getURL(file.docPath) }}</loc>
    {%- if file.updated %}
    <lastmod>{{ file.updated.toISOString() }}</lastmod>
    {%- elseif file.created %}
    <lastmod>{{ file.created.toISOString() }}</lastmod>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
  {%- endif %}
</urlset>
